doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Automatic Email
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  body(style='margin:0; padding:0; box-sizing:border-box')
    table(align='center', cellpadding='0', cellspacing='5', width='100%', border='1')
      tbody
        tr
          td(align='center')
            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#aaa', border='1')
              tbody
                tr 
                  td(align='right') copyright text
                tr 
                  td(align='center')
                    img(src='/img/logo.png', height='50px')
                tr 
                  td
                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#aaa', border='1')
                      tbody
                        tr
                          td(align='center') wlcome
                        tr 
                          td(align='center') thank you
                tr 
                  td(style='vertical-align: middle')
                    img(src='/img/bg.jpg', width='100%')
                tr 
                  td
                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#999', border='1')
                      tbody
                        tr
                          td(align='center') policy details
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#bbb', border='1')
                              tbody
                                tr
                                  td light text
                                tr
                                  td bold text
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#bbb', border='1')
                              tbody
                                tr
                                  td light text
                                tr
                                  td bold text
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#bbb', border='1')
                              tbody
                                tr
                                  td light text
                                tr
                                  td bold text
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#bbb', border='1')
                              tbody
                                tr
                                  td light text
                                tr
                                  td bold text
                tr 
                  td
                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#999', border='1')
                      tbody
                        tr
                          td(align='center') How would you rate yourself lskjdfl ksjdflk jsdlkfj slkdjf?
                        tr 
                          td(align='center')
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                              tbody
                                tr 
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            i.far.fa-star
                                        tr 
                                          td(align='center') star
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            i.far.fa-star
                                        tr 
                                          td(align='center') star
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            i.far.fa-star
                                        tr 
                                          td(align='center') star
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            i.far.fa-star
                                        tr 
                                          td(align='center') star
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            i.far.fa-star
                                        tr 
                                          td(align='center') star
                        tr
                          td(align='center')
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        tr
                          td(align='center') Some Bold text
                        tr
                          td(align='center')
                            | Lorem Ipsum is simply dummy text of the

                tr
                  td
                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                      tbody
                        tr
                          td(align='center')
                            img(src='/img/money.png')
                        tr
                          td
                            table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                              tbody
                                tr
                                  td(align='center') You could save more! 
                                tr
                                  td(align='center')
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                tr
                                  td(align='center')
                                    button(type='button') 
                                      span
                                        i.fa.fa-phone(style='transform: rotateZ(90deg)')
                                      | 9999 888 777
                                tr 
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                                    i.far.fa-star
                                          td(align='center')
                                                    i.far.fa-star
                                          td(align='center')
                                                    i.far.fa-star
                                tr 
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center')
                                            img(src='/img/logo.png', height='50px')
                                        tr
                                          td(align='center') Lorem Ipsum is simply dummy text
                                tr 
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='5', width='100%', bgcolor='#888', border='1')
                                      tbody
                                        tr 
                                          td(align='center') fds
                                          td(align='center') |
                                          td(align='center') fds
                                          td(align='center') |
                                          td(align='center') fds
                                          td(align='center') |
                                          td(align='center') fds